<div id='status'>
<h4 class='text-center'>AV Status</h4>
<accordion close-others='false'>
  <accordion-group ng-repeat="(macaddress,station_details) in status_list" is-open="true">
    <accordion-heading>
    <span class="glyphicon glyphicon-{{station_details.icon}}" style="color: {{station_details.colour}};"></span>
    <b>{{station_details.nickname}} ({{station_details.ip}})</b>
    </accordion-heading>
    <div class="list-group">
      <div ng-repeat="(proc_id,proc_details) in station_details.status" class="list-group-item">
        <span tooltip-html-unsafe='{{proc_details.tooltip}}' tooltip-append-to-body='true' tooltip-placement='right'>
          <span class="glyphicon glyphicon-{{proc_details.icon}}" style="color: {{proc_details.colour}};"></span>
          {{proc_details.label}}
        </span>
        <button class='btn btn-sm btn-default pull-right' ng-click='resetProc(proc_id)'><span class="glyphicon glyphicon-repeat" style="color: red;"></span> reset</button>
      </div>
    </div>
  </accordion-group>
</accordion>
</div>
